div.page-header
    blockquote.page-header__intro#page-header__intro
        span.page-header__plane
            i.icon-plane
        p.page-header__intro__center
            = CV.description
            small.page-header__intro__info
                = CV.rate
                span= ' ' + CV.availability
                span= ' ' + CV.availability_short_term
    nav.page-header__nav
        .page-header__nav__info
            h1.page-header__nav__info__name= `${CV.givenName} ${CV.familyName}`
            p.page-header__nav__info__jobtitle= CV.jobTitle
        .page-header__nav__contact
            a.link-contact(
                href=`tel:${CV.telephone.replace(/ /g, '')}`
            ).___medium
                i.link-contact__icon
                    i.icon-telephone
                span
                    = CV.telephone
            a.link-contact(
                href=`mailto:${CV.email}`
            )
                i.link-contact__icon
                    i.icon-envelope
                u
                    = CV.email
            a.link-contact(
                href=CV.linkedin
                title="“Join the great link”"
                target="_blank"
            )
                i.link-contact__icon
                    i.icon-link
                u
                    | connect
            a.link-contact(
                href=CV.github
                target="_blank"
            )
                i.link-contact__icon
                    i.icon-code
                u
                    | github
